<mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
    <!--<p>Auto-resizing sidenav</p>
  @if (showFiller) {
  <p>Lorem, ipsum dolor sit amet consectetur.</p>
  }-->
    <!--<button (click)="showFiller = !showFiller" mat-raised-button>
    Registro de Estudiantes
  </button>-->
    <app-nav-menu/>
     
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-menu (menuToogle)="drawer.toggle()"></app-menu>
    <main style="padding:1rem">
      @if (!showFiller) {
      <router-outlet />
      }
    </main>
    <!--<button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>-->
  </div>
  

</mat-drawer-container>


 
